@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oranienbaum&display=swap');

body {
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.navlink {
  text-decoration: none;
  font-size: 20px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background: rgb(254,198,1);
  background: linear-gradient(90deg, rgba(254,198,1,1) 0%, rgba(115,191,184,1) 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 50%;
}


.home-page-container {
  width: 100vw;
  height: 100vw;
  display: grid;
  place-items: center;
  position: relative;
}

.name-container {
  display: flex;
  position: absolute;
  font-family: 'arial';
  margin-top: -39%;
}

.e{
  color: #3DA5D9;
  font-size: 20vw;
  padding: 3px;
  opacity: 0;
}

.d1{
  color: #73BFB8;
  font-size: 20vw;
  padding: 3px;
  opacity: 0;
}

.d2{
  color: #FEC601;
  font-size: 20vw;
  padding: 3px;
  opacity: 0;
}

.y{
  color: #EA7317;
  font-size: 20vw;
  padding: 3px;
  opacity: 0;
}

.kid-eddy{
  opacity: 0;
  height: 40%;
  margin-top: -45%;
  border-radius: 4px;
}

